.navbar-dark {
    background-color: #00a3cc;
}
#link{
  color: white;
}
#link1{
  color:#00a3cc;
}
.str{
  background-color: white ;
}
.gen{
  background-color: #33d6ff;
}
.footer{
  margin: 10px;
	background-color: #ccf5ff;
}
